@model AspnetCoreCURDApp.Models.EmployeeViewModal

@{
    ViewData["Title"] = "Edit";
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr>
@if (!string.IsNullOrWhiteSpace(@ErrorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ErrorMessage
    </div>
    <button type="button" class="btn-close fload-end" data-bs-dismiss="alert"></button>
}
<form action="Delete" method="post">
    <div class="md-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input type="email" class="form-control" asp-for="Email" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Salary</label>
        <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" asp-for="Salary" readonly>
        </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-danger" onclick="return confirm ('Are you sure delete employee : @Model.FullName')">Delete</button>
    </div>
</form>
